# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# Node
node_modules/
dist/

# Editor
*.swp
*.swo

# OS
.DS_Store

# Server runtime data
server/models/
server/modules/
server/settings/
server/ssl_key/
server/upload_dir/
server/voice_characters/

# Logs
*.log

# Third party
third_party/

# pnpm
web/.pnpmrc.json

spec/*improvement.md

